@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    width: 200px;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin: 10px 5px;
    padding: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    border-radius: 5px;
    font-family: "Permanent Marker", cursive;
    background-color: #20161C;
  }
  
  .capa{
    width: 20rem;
    height: 30rem;
    margin-bottom: 2rem;
  }

  .card-title {
    color:beige;
    font-family: "Impact";
    line-height: 1.2;
    font-size: 1.2rem;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #9B67F5;
  }

  .curtir-btn{
    align-self: flex-end;
    margin-right: 0.5rem;
  }

