@tailwind base;
@tailwind components;
@tailwind utilities;

.curtir-form{
    align-self: flex-end;
    margin-right: 0.2rem;
}

/* .curtir{
    width: 1rem;
    height: 1rem;
} */

/* .curtir-btn{
    background-color: transparent;
    border-radius: 30%;

  } */
