
.fonte3 {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 3px 3px;
    background-color: #6508c9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  .fonte3:hover {
    background-color: #2980b9;
  }